@font-face{
    font-family: thai-google;
    src: url(font/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}
@font-face{
    font-family: thai-italic;
    src: url(font/GoogleSans-Italic-VariableFont_GRAD\,opsz\,wght.ttf);
}
@font-face{
    font-family: thai-google;
    src: url(font/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}
@font-face{
    font-family: Mitr;
    src: url(font/Mitr/Mitr-Regular.ttf);
}
@font-face{
    font-family: Mitr-light;
    src: url(font/Mitr/Mitr-ExtraLight.ttf);
}
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    margin: 0px;
    font-family: thai-google;
}
.banner img{
    display: flexbox;
    width: 100%;
    opacity: 75%;
    margin: 0px
}
.op div:not(.banner), .op h3{
    margin-left: 20px;
    margin-right: 20px;
}
a{
    color: black;
    text-decoration-thickness:0.5px;
}
.op{
    p{
        text-indent: 40px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    div{
        margin-top: 2em;
        margin-bottom: 1.6em;
    }
    #div1{
        background-color:aqua;
    }
    #div1 span{
        font-size: 0.8em;
    }
    h1{
        font-family: Mitr;
        margin-bottom: 0.5rem;
        font-size: 3em;
    }
    #div2{
        background-color:aqua;
    }
    #div2 h3{
        font-size: 2em;
        color: hsla(0, 79%, 65%, 0.893);
        letter-spacing: 8px;
        display: inline;
    }
    h3{
        margin-bottom: 0;
    }
    hr{
        width: 92%;
        margin-left: 20px;
        margin-top: 0px;
    }
    #div3{
        background-color: yellowgreen;
        margin-top: 0;
    }
    #div4{
        background-color: yellowgreen;
        margin-top: 0;
        font-family: Mitr-light;
        font-size: 0.95em;
    }
    .trivial{
        font-family: Mitr-light;
        font-size: 1.25em;
    }
    #div2 img{
        object-fit: contain;
        display: none;
        width: 8em;
        position: absolute;
        float: right;
    }
    
}
#underline{
    width: 36%;
    margin-left: 20px;
    margin-top: 0px;
}